body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u41 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:154px;
  top:285px;
  width:77px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u43 {
  position:absolute;
  left:204px;
  top:617px;
  width:60px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u44 {
  position:absolute;
  left:16px;
  top:617px;
  width:60px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u45 {
  position:absolute;
  left:296px;
  top:617px;
  width:60px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u46 {
  position:absolute;
  left:143px;
  top:572px;
  width:89px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
